body
{
	background-image: url("https://www.tynker.com/projects/images/9163be9686cedff73bfa33eaefc0c75e12f146fb/background-scene---player-1-wins.png");
    background-position: center;
    background-size: cover;
}