body
{
	background-image: url("https://www.tynker.com/projects/images/c80d4d12b1c2053c5b65b5a6f517c46f52a5cb80/background-scene---player-2-wins.png");
    background-position: center;
    background-size: cover;
}